.dev-skill-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
  }

.dev-skill-tags li + li {
    margin-left: .5rem;
  }

.dev-skill-tags a {
    border: 1px solid lighten(#333, 40%);
    border-radius: 3px;
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
  }